body {
    background: linear-gradient(181deg, #000 0.82%, #4A2800 129.1%);
    backdrop-filter: blur(7px);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
menu,
p {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #FA9021;
    --color-two: #FFFFFF;
    --color-three: #E87D0E;
    --color-four: #1C140F;
    --color-five: #000;

}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 37px;
    padding-bottom: 150px;
}

.header_logo {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: 153.5%;
}

.header_link {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative
}

.header_link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-image: url("../images/svg/header-line.svg");
    background-repeat: no-repeat;
    transition: width 0.5s;
}

.header_link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: -15px;
    bottom: -10px;
    height: 8px;
    background-image: url("../images/svg/header-line.svg");
    background-repeat: no-repeat;
    transition: width 0.5s;
}


.header_nav-btn {
    border-radius: 6px;
    background: var(--color-one);
    padding: 10px 28px 11px 27px;
    flex-shrink: 0;
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    transition: all 250ms linear;
}

.header_nav-btn:hover {
    transform: scale(0.9);
    background: var(--color-three);
}


.header_text-item-one {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
}

.header-item {
    color: var(--color-three);
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
}

.header_text-title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 180.5%;
    width: 425px;
}

.header_text-item-two {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 208.5%;
    width: 414px;
}

.header_text-and-img {
    display: flex;
    justify-content: space-between;
    gap: 177px;
    align-items: center;
}



.header_text-btn {
    border-radius: 40px;
    background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
    border: none;
    width: 176px;
    height: 47.836px;
    flex-shrink: 0;
    /* padding: 16px 27px 16px 19px; */
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 250ms linear;
    /* text-align: start; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px
}

.header_text-btn:hover {
    transform: scale(0.9);
}

.btn-arrow::before {
    background-image: url("../images/svg/arrow-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header_main-link {
    color: var(--color-three);
    position: relative;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_main-link:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: -15px;
    bottom: -10px;
    height: 8px;
    background-image: url("../images/svg/header-line.svg");
    background-repeat: no-repeat;
}


.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
}

.header_box {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.header_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.work {
    padding-bottom: 147px;
}

.work_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%;
}

.work_box {
    display: flex;
    flex-direction: column;
    gap: 63px;
}


.work_cards-box {
    display: flex;
    gap: 43px;
}

.work_card {
    border-radius: 20px;
    background: #1C140F;
    box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 19px;
    padding: 64px 37px;
    transition: all 250ms linear;
}

.work_card:hover {
    transform: scale(1.1);
    box-shadow: 4px 0px 10px 10px rgba(230, 70, 7, 0.644);
}

.work_text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

.work_text-box_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
}

.work_text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
}

.work_card-btn_one {
    border-radius: 8px;
    background: rgba(176, 0, 220, 0.11);
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    border: none;
    padding: 7px 25px;
    transition: all 250ms linear;
}

.work_card-btn_one:hover,
.work_card-btn_two:hover,
.work_card-btn_three:hover {
    transform: scale(0.9);
}



.work_card-btn_two {
    border-radius: 8px;
    background: rgba(220, 66, 0, 0.11);
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    border: none;
    padding: 7px 25px;
    transition: all 250ms linear;
}


.work_card-btn_three {
    border-radius: 8px;
    background: rgba(0, 220, 141, 0.11);
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    border: none;
    padding: 7px 25px;
    transition: all 250ms linear;
}

.game {
    padding-top: 113px;
    background-color: #1C140F;
}

.game_box {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.game_text-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
}

.game_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 202.5%;
}

.game_main-title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.5%;
    width: 531px;
}

.game_text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 202.5%;
    width: 536px;
}

.team {
    padding-top: 148px;
}

.team_box {
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.team_cards-box {
    display: flex;
    gap: 28px;
}

.team_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 180.5%;
}

.team_card {
    padding: 35px 86px 40px 86px;
    border-radius: 20px;
    background: #1C140F;
    text-align: center;
    transition: all 250ms linear;
}

.team_card:hover {
    transform: translateY(50px);
    box-shadow: 4px 0px 10px 10px rgba(230, 70, 7, 0.644);

}

.team_card-title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 202.5%;
}

.team_text {
    color: #E8E8E8;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 202.5%;
}

.stay {
    padding-bottom: 163px;
    padding-top: 105px;
}

.stay_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%;
}

.stay_text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%;
    width: 545px;
}

.stay_box {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.stay_registration-box {
    padding: 40px 50px 42px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #1C140F;
}

.stay_registration-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.registration-text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 540px;
}

.registration-form {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
    padding: 6px 6px 6px 20px;
    border-radius: 8px;
    background: var(--color-two);
}

.registration-input {
    padding-left: 14px;
    color: #898989;
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: start;
    outline: none;
    border: none;
}

.registration-btn {
    border-radius: 8px;
    background: #DC7000;
    border: none;
    color: var(--color-two);
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 17px
}

.registration-btn:hover {
    transform: scale(0.9);
    background: var(--color-one);

}

.footer {
    background: #070707;
    padding-top: 79px;
    padding-bottom: 29px;
}

.footer_logo-info-text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 372px;
}

.logo-text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60px;
}

.logo-text:hover {
    color: var(--color-three);
}

.logo-and-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_logo-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer_about-title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_about_link {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 186.3%;
}

.footer_about-list_item {
    transition: all 150ms linear;
}

.footer_about_link:hover {
    color: var(--color-three);
}

.footer_about-list_item:hover {
    transform: translateX(8px);
}

.footer_about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_contact_title {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_contact-text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 282px;
}

.footer_contact-info {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_link {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 150ms linear;


}

.contact_link:hover {
    transform: translateY(10px);
    color: var(--color-three);
}

.footer_box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
}

.social-link {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-two);
    fill: var(--color-five);
    transition: all 150ms linear;
}

.social-link:hover {
    fill: var(--color-two);
    background: var(--color-three);
    transform: translateY(-20px);
}

.footer_social-link_box {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: end;
}

.footer-line {
    height: 0.8px;
    background: #D2D2D2;
}

.footer_text {
    color: var(--color-two);
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.6%;
    text-align: center;
    padding-top: 29px;
}